<div class="border flex flex-col items-end w-[800px]"  >
  <%= turbo_stream_from "message" %>

  <div id="message" class="overflow-y-scroll w-full h-[800px] " >
    <%= render partial: "chat/message", locals: {role: "bot", message: "游녦V칛lkommen till ongoal! Jag 칛r en produkt assistent som kan svara p친 dina fr친gor g칛llande v친ra padelrack"} %>
    <%= render partial: "chat/message", locals: {role: "user", message: "游녦V칛lkommen till ongoal! Jag 칛r en produkt assistent som kan svara p친 dina fr친gor g칛llande v친ra padelrack"} %>

  </div>
  <%= render partial: "chat/chat", locals: {company_id: company_id, chat_id: chat_id} %>
</div>