
<div style="width: 100%; display: flex; justify-content: center;">
  <%= form_with(url: company_chat_index_url({:company_id => company_id, :chat_id => chat_id}), id: "send_form", method: :post, data: {controller: "company"}) do |f| %>
    <%= f.text_field :query, style: "width: 40rem", autocomplete: "off" %>
    <%= f.submit "Skicka", class: "bg-gray-200 py-2 px-2 cursor-pointer active:bg-gray-400", data: {action: "company#handleSubmit"}%>
  <% end %>
</div>