
<div class="border" style=" display: flex; flex-direction: column; align-items: flex-end; width: 70%; margin-left: 15%;" data-controller="company">
  <%= turbo_stream_from "message" %>

  <div id="message" style="overflow-y: scroll; width: 100%; height: 400px">
  </div>
  <%= render partial: "chat/chat", locals: {company_id: company_id, chat_id: chat_id} %>

</div>